{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Title{% endblock title %} - WorldWideFitness</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/grid_12.css' %}">
    {% block additional_stiles %}
    {% endblock additional_stiles %}
    <script src="{% static 'js/jquery-1.7.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/tms-0.3.js' %}"></script>
	<script src="{% static 'js/tms_presets.js' %}"></script>
    <script src="{% static 'js/cufon-yui.js' %}"></script>
    <script src="{% static 'js/Asap_400.font.js' %}"></script>
    <script src="{% static 'js/Coolvetica_400.font.js' %}"></script>
	<script src="{% static 'js/Kozuka_M_500.font.js' %}"></script>
{#    <script src="{% static 'js/cufon-replace.js' %}"></script>#}
    <script src="{% static 'js/FF-cash.js' %}"></script>
	{% block additional_scripts %}
    {% endblock additional_scripts %}
    <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
	<![endif]-->
</head>
<body>
<div class="main">
	<div class="bg-img"></div>
<!--==============================header=================================-->
    <header>
        <h1><a href="/">WorldWide <strong>Fitness</strong></a></h1>
        <nav>
        	<div class="social-icons">
            	<a href="#" class="icon-2"></a>
            	<a href="#" class="icon-1"></a>
            </div>
            <ul class="menu">
                <li {% ifequal request.path '/' %}class="current"{% endifequal %}><a href="/">Главная</a></li>
                <li {% ifequal request.path '/events' %}class="current"{% endifequal %}><a href="/events">События</a></li>
{#                <li><a href="timetable.html">Расписание</a></li>#}
{#                <li><a href="nutrition.html">NuTimetabletrition</a></li>#}
{#                <li><a href="gallery.html">Галерея</a></li>#}
                <li {% ifequal request.path '/contacts' %}class="current"{% endifequal %}><a href="/contacts">Контакты</a></li>
            </ul>
        </nav>
    </header>   
<!--==============================content================================-->
    <section id="content">
    {% block content %}
    {% endblock content %}
    </section> 
<!--==============================footer=================================-->
    <footer>
        <p>© 2017 WorldWideFitness</p>
    </footer>
</div>    
<script>
	Cufon.now();
</script>
</body>
</html>