{% extends '_base.html' %}
{% load static %}

{% block title %}Контакты {{ event.title }}{% endblock title %}

{% block content %}
    <section id="content">
        <div class="container_12">
          <div class="grid_12">
          	<div class="box-shadow">
            	<div class="wrap block-2">
                    <div class="col-3">
                    	<h2><span class="color-1">Как найти ?</span></h2>
                        <dl>
                            <dt class="color-1"><strong>Россия ,<br>Пенза, ул. Гагарина 6 440039.</strong></dt>
                            <dd><span>Телефон:</span>+7 996 961 0891</dd>
                            <dd><span>E-mail:</span><a href="#" class="link">vorgovsky@gmail.com</a></dd>
                        </dl>
                    </div>
                    <div class="col-4">
                    	<h2><span class="color-1">Связаться</span> с нами</h2>
                        <form id="form" method="post" >
                            <fieldset>
                              <label><input type="text" value="Имя" onBlur="if(this.value=='') this.value='Имя'" onFocus="if(this.value =='Имя' ) this.value=''"></label>
                              <label><input type="text" value="Email" onBlur="if(this.value=='') this.value='Email'" onFocus="if(this.value =='Email' ) this.value=''"></label>
                              <label><textarea onBlur="if(this.value==''){this.value='Ваше сообщение'}" onFocus="if(this.value=='Ваше сообщение'){this.value=''}">Ваше сообщение</textarea></label>
                              <div class="btns"><a href="#" class="button">Очистить</a><a href="#" class="button" onClick="document.getElementById('form').submit()">Отправить</a></div>
                            </fieldset>
                          </form>
                    </div>
                </div>
            </div>
          </div>
          <div class="Очистить"></div>
        </div>
    </section>
{% endblock content %}
