{% extends '_base.html' %}
{% load static %}

{% block title %}Мероприятие{% endblock title %}

{% block content %}
<div class="container_12">
  <div class="grid_12">
    <div class="box-shadow">
        <div class="wrap block-2">
            <div class="col-3">
                <h2 class="p3"><span class="color-1">Все </span> события</h2>
                <p class="p2"><strong>Список всех доступных Вам события/мероприятий</strong></p>
                <p class="p4">Примите участие:</p>
                <ul class="list-2 p5">
                    {% for event in events %}
                        <li><a href="{% url 'Event' event.pk %}">{{ event.title }}</a></li>
                    {% endfor %}
                </ul>
{#                <p>Ut wisi enim adminim veniam quis nostrud exerci tation ullamcorper suscipit lobortis nisl.</p>#}
{#                <a href="#" class="button top-3">Read more</a>#}
            </div>
            <div class="col-4">
                <h2 class="p3"><span class="color-1">Все </span> события</h2>
                <p class="p2"><strong>Список всех доступных Вам события/мероприятий</strong></p>
                <p>Покажите кто тут круче всех!</p>
                {% for event in events %}
                <div class="wrap box-1 top-2">
                    <img src="{% static 'images/page2-img2.jpg' %}" alt="" class="img-border img-indent">
                    <div class="extra-wrap">
                        <p class="p2"><a href="{% url 'Event' event.pk %}"><strong>{{ event.title }}</strong></a></p>
                        <p>{{ event.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
{% endblock content %}

