{% extends '_base.html' %}
{% load static %}

{% block title %}Event {{ event.title }}{% endblock title %}

{% block content %}
    <div class="container_12">
        <div class="grid_12">
            <div class="box-shadow">
                <div class="wrap block-2">
                    <div class="col-3">
                        <h2 class="p3"><span class="color-1">Группы</span></h2>
                        <ul class="list-1">
                            {% for group in event.sportgroup_set.all %}
                                <li><a href="{% url 'GroupEvent' group.pk event.pk %}">{{ group.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-4">
                        <h2 class="p3"><span class="color-1">Событие </span>{{ event.title }}</h2>
                        <p class="p2"><strong>{{ event.description }}</strong></p>
                        {% for task in event.task_set.all %}
                            <div class="wrap box-1 top-4">
                                <img src="{% static 'images/page2-img1.jpg' %}" alt="" class="img-border img-indent">
                                <div class="extra-wrap">
                                    <p class="p2"><strong>{{ task.title }}</strong></p>
                                    <p>{{ task.description }}</p>
                                    {% if not user.is_anonymous %}
                                        {% if task.result_set.all.count == 0 %}
                                            <div class="form-result">
                                                <form action="{% if not event.isGlobal %}/result/{% else %}/global/{% endif %}" method="post" class="form-{{ task.pk }}" id="form">
                                                    {% csrf_token %}
                                                    <fieldset>
                                                        <div class="fieldWrapper">
                                                            <label><input name="result" value="" required="" placeholder="Результат" id="id_result" maxlength="255" type="text"></label>
                                                        </div>
                                                        {% if event.isGlobal %}
                                                            <div class="fieldWrapper">
                                                                <label><input name="proof" required="" maxlength="512" value="" placeholder="Подтверждение" id="id_proof" type="text"></label>
                                                            </div>
                                                        {% endif  %}
                                                        <div class="fieldWrapper">
                                                            <label><input name="task" value="{{ task.pk }}" id="id_task" type="hidden"></label>
                                                        </div>
                                                    </fieldset>
                                                    <div class="btns"><a href="#" class="button" onClick="document.getElementsByClassName('form-{{ task.pk }}')[0].submit()">Отправить</a></div>
                                                </form>
                                            </div>
                                        {% elif task.result_set.first.approved %}
                                            <div class="form-result">
                                                <div class="aprovedMessage">
                                                    Ваш результат подтверждён
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="form-result">
                                                <div class="infoMessage">
                                                    Ваш результат принят
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <p class="margin_top_10"><strong><a href="#">Войдите</a> или <a href="#">зарегистрируйтесь</a></strong></p>
                                    {% endif %}

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock content %}
