{% extends '_base.html' %}
{% load static %}

{% block title %}Мероприятие{% endblock title %}

{% block content %}
    <div class="container_12">
        <div class="grid_12">
            <div class="box-shadow">
                <div class="wrap block-2">
                    <div class="col-1">
                        <h2 class="p3"><span class="color-1">Группа {{ group.title }}. {{ event.title }}. Результаты</span></h2>

                        <div class="wrap box-2 border-1" id="groupResults">

                                {% for result in results %}
                                    <div>
                                        <p><strong>{{ result.user.get_full_name }}: </strong></p>
                                        <p>{{ result.task.title }}</p>
                                        <p class="color-1">{{ result.result }}</p>
                                        {% if not user.is_anonymous %}
                                        <form id="form-{{ result.pk }}" class="form-{{ result.pk }}" action="{% url 'ApproveResult' result.id %}" method="post">
                                            {% csrf_token %}
                                            <input name="result_id" value="{{ result.pk }}" id="id_task_{{ result.pk }}" type="hidden">
                                            <input name="redirect_to" value="{{ request.path }}" id="redirect_to_{{ result.pk }}" type="hidden">
                                            {% if result.approved %}<p class="color-4">Подтверждён</p>{% else %}<a href="#" class="button top-5" onClick="document.getElementsByClassName('form-{{ result.pk }}')[0].submit()">Подтвердить</a>{% endif %}
                                        </form>
                                        {% else %}
                                            <p class="margin_top_10"><strong><a href="#">Войдите</a> или <a href="#">зарегистрируйтесь</a></strong></p>
                                        {% endif %}
                                        {#                                {% if result.approved %}<p>Подтверждён</p>{% else %}<a href="{% url 'ApproveResult' result.id %}" class="button top-5">Подтвердить</a>{% endif %}#}
                                    </div>
                                {% endfor %}

                        </div>
                        {#                        <div class="wrap box-2 border-1">#}
                        {#                            <div>#}
                        {#                                <p class="color-1">12:00</p>#}
                        {#                                <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>#}
                        {#                            </div>#}
                        {#                            <div>#}
                        {#                                <p class="color-1">12:30</p>#}
                        {#                                <p>Magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>#}
                        {#                            </div>#}
                        {#                            <div class="last">#}
                        {#                                <p class="color-1">11:00</p>#}
                        {#                                <p>Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit.</p>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                    <div class="col-2">
                        <h2 class="p3"><span class="color-1">Предстоящие</span> Мероприятия</h2>
                        <p class="p2"><strong>Откытые мероприятия: </strong></p>
                        {#                        <p>Option congue nihil imperdiet doming id quod mazim placerat facer possim assum:</p>#}
                        <img src="{% static 'images/page3-img1.jpg' %}" alt="" class="img-border pad-1">
                        <ul class="list-2">
                            {% for event in events_list %}
                                <li><a href="{% url 'Event' event.id %}">{{ event.title }}</a></li>
                            {% endfor %}
                        </ul>
                        <a href="{% url 'Events' %}" class="button top-5">Посмотреть все</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock content %}
