{% extends '_base.html' %}
{% load static %}

{% block title %}Main{% endblock title %}

{% block additional_stiles %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/slider.css' %}">
{% endblock additional_stiles %}

{% block additional_scripts %}
<script>
    $(window).load(function(){
        $('.slider')._TMS({
        prevBu:'.prev',
        nextBu:'.next',
        pauseOnHover:true,
        pagNums:false,
        duration:800,
        easing:'easeOutQuad',
        preset:'Fade',
        slideshow:7000,
        pagination:'.pagination',
        waitBannerAnimation:false,
        banners:'fade'
        })
    })
</script>
{% endblock additional_scripts %}

{% block content %}

        <div class="container_12">
          <div class="grid_12">
            <div class="slider">
              <ul class="items">
                 <li><img src="{% static 'images/slider-1.jpg' %}" alt="">
                    <div class="banner">
                        <p class="font-1">Спорт<span>  для всех</span></p>
                        <p class="font-2">Отсутствие снарядов не сможет тебя остановить. Соревнование не требующее специального снаряжения для тебя.</p>
                        <a href="#">Подробнее</a>
                    </div>
                </li>
                <li><img src="{% static 'images/slider-2.jpg' %}" alt="">
                    <div class="banner">
                        <p class="font-1">Тренируйся<span> в отпуске</span></p>
                        <p class="font-2">Боишься отрастить живот, лёжа на пляже? Забудь страхи, пляжный челендж то, что тебе нужно!</p>
                        <a href="#">Подробнее</a>
                    </div>
                </li>
                <li><img src="{% static 'images/slider-3.jpg' %}" alt="">
                    <div class="banner">
                        <p class="font-1">Работай<span> в команде</span></p>
                        <p class="font-2">Тренируйся с коллегами, друзьями, родственниками. Станьте лучшей командой на недельном марафоне!</p>
                        <a href="#">Подробнее</a>
                    </div>
                </li>
              </ul>
              <div class="pagination">
                  <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                  </ul>
              </div>  
            </div>
          </div>	
          <div class="grid_12 top-1">
          	<div class="block-1 box-shadow">
                <p class="font-3"><a href="#">WorldWide Fitness</a> — это сервис для  людей ценющих своё <a href="#">время и деньги</a>, который позволяет делиться результатами, соревноваться, вести журнал тренировок в одном месте. Забудьте про "аналоговые" грифильные доски. <a href="#">WorldWide Fitness</a> для вас. </p>
            </div>
          </div>
          <div class="grid_12 top-1">
          	<div class="box-shadow">
            	<div class="wrap block-2">
                    <div class="col-1">
                    	<h2 class="p3"><span class="color-1">Результаты </span> последних соревнований</h2>
                        {% for event in events %}
                        <div class="wrap box-1">
                            <img src="{% static 'images/page1-img2.jpg' %}" alt="" class="img-border img-indent">
                            <div class="extra-wrap">
                                <a href="{% url 'EventResults' event.id %}"><p><strong>{{ event.title }}</strong></p></a>
                                <p>{{ event.description }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-2">
                        <h2 class="p3"><span class="color-1">Наград</span> лист</h2>
                        <ul class="achivmentslist">
                        	<li><p><span class="color-1">И. Спун</span> награждён за супер тренировку</p><img src="https://cs.pikabu.ru/images/awards/2x/Malfar.png"></li>
                        	<li><p><span class="color-1">В. Ждун</span> награждён за прокачку пальца </p><img src="https://cs.pikabu.ru/images/awards/2x/03_best_week_post.png"></li>
                        	<li><p><span class="color-1">Ж. Кузнецова</span> награждёна за 100 подходов </p><img src="https://cs.pikabu.ru/images/awards/2x/100_merged_tags_v2.png"></li>
                        	<li><p><span class="color-1">С. Миленин</span> награждён за 500 подходов </p><img src="https://cs.pikabu.ru/images/awards/2x/500_merged_tags.png"></li>
                        	<li><p><span class="color-1">М. Саратов</span> награждён за 1000 подходов </p><img src="https://cs.pikabu.ru/images/awards/2x/1000_merged_tags.png"></li>
                        	<li><p><span class="color-1">А. Миранова</span> награждёна за активность </p><img src="https://cs.pikabu.ru/images/awards/2x/GalievRadmir.png"></li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
{% endblock content %}
