{% extends '_base.html' %}
{% load static %}

{% block title %}Main{% endblock title %}

{% block additional_stiles %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/slider.css' %}">
{% endblock additional_stiles %}

{% block additional_scripts %}
    <script>
        $(window).load(function(){
            $('.slider')._TMS({
                prevBu:'.prev',
                nextBu:'.next',
                pauseOnHover:true,
                pagNums:false,
                duration:800,
                easing:'easeOutQuad',
                preset:'Fade',
                slideshow:7000,
                pagination:'.pagination',
                waitBannerAnimation:false,
                banners:'fade'
            })
        })
    </script>
{% endblock additional_scripts %}

{% block content %}

    <div class="container_12">
        <div class="grid_12">
            <div class="form-result">
                <form action="/result/" method="post" id="form">
                    {% csrf_token %}

                    <fieldset>
{#                    <div class="fieldWrapper">#}
{#                        <input type="hidden" name="task" value="{{ task.id }}">#}
{#                        <label><input name="result" value="" required="" id="id_result" placeholder="Результат" type="text"></label>#}
{#                    </div>#}
                    {% for field in result_form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            <label>{{ field }}</label>
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </fieldset>
                    <div class="btns"><a href="#" class="button" onClick="document.getElementById('form').submit()">Отправить</a></div>
                </form>
            </div>


        </div>
        <div class="clear"></div>
    </div>
{% endblock content %}
